@{
    ViewData["Title"] = "Home Page";
}

<div id="welcome-text" class="text-center">
    <h1 class="display-4">Agendo</h1>
    <br /> <br />
    <h3>Login or Register</h3>
    <br /> <br />
    <div id="calander-1">
        <img src="~/css/Images/cal-image1.jpg" alt="Alternate Text" />
    </div>

</div>


