@{
    ViewData["Title"] = "Home Page";
}

    <div id="welcome-text" >
        <h1 id="title-text">Agendo</h1>
        
    </div>

    <br /> <br />

           <div id="calander-1">
               <img src="~/css/Images/cal-image1.jpg" alt="Alternate Text" />
               <br /> <br />
               <p id="cal-text">
                   Login or Create an account today!
               </p>
           </div>

    
    
    




